@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Quicksand:wght@600&display=swap');
*{ 

    box-sizing: border-box; 
  
  }
  
body {
  padding: 0;
  margin: 0;
  background: #ff480068;
}

.sticky {
  position: fixed;
}

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background: #222035;
  width: 100%;
  position: fixed;
  bottom: 0;
  /* border: 0.2px solid black; */
  transition: ease-in-out 0.3s;
  z-index: 1;
  color: white;
  height: 50px;
}

@media screen and (min-width: 600px) {

  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    height: 60px;
    gap: 2rem;
    /* Adjust this value as desired */
  }

}


.navbar::-webkit-scrollbar {
  width: 0;
}

.navbar::-webkit-scrollbar-thumb {
  border-radius: 1.25rem;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #ffffff44;
}

.navbar::-webkit-scrollbar-thumb:hover {
  background-color: #ffffff44;
}

.menu--icon {

  font-size: 1.5em;
  color: #fff;
  text-decoration: none;
  margin: 0 10px 0 10px;

}

@media (min-width: 600px) {
  .menu--icon {
    margin: 0 50px 0 50px;
  }
}

.menu--icon a:visited,
.menu--icon:hover {
  background-color: #343151;
  color: #fff;
  transition: ease-in-out 0.2s;
  padding: 5px;
  border-radius: 20px;
}

.menu--icon--logout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1.5em;
  color: #fff;
  text-decoration: none;
  margin: 0 10px 0 10px;
}


.nav--user--area {
  position: flex;
  padding: 10px 10px;
}

.btn {
  border: none;
  cursor: pointer;
  outline: none;

}

.menu--nav--text {
  font-size: 0.8em;
  text-align: center;
  margin-left: 10px;
  padding-top: 16px;
}
main {
  background: #ff480068;
  margin: auto;
  font-size: 1rem;
  word-wrap: break-word;
  font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
}

@media only screen and (max-width: 930px) {
  main {
    margin-right: 0;
  }
}


.main--glass--effect {
  box-shadow: 0 0 50px rgba(34, 32, 53, 0.9);
}

.wrapper {
  margin: auto;
  max-width: 1600px;

}
.pandaForm{
  max-height: 200px;
  height: auto;
  margin-top: 120px;
}
@media screen and (max-width: 600px) {

  .pandaForm{
    margin-top: 0;
  }
  }



.container--form {
  background-color: #222035ec;
  border-radius: 10px;
  margin-top: 70px;
  margin-bottom: 50px;
  max-width: 800px;
  padding: 30px 30px;
  box-shadow: 1px 1px 20px #222035ec;
  color: white;
  display: flex;
  margin-top: -100px;
  justify-content: center;
  position: relative;
  z-index: 0;
 
}
  
  input, textarea, .sbmBtn{
    
    width: 100%;
    border: 1px solid ;
    border-radius: 5px;
    background: #3a3a3a;
    color: white;
    padding: 10px 5px;
    border: none;
    margin: 0.5em;
    margin-top: 20px;
    transition: background 500ms ease;
  }
  
  
  button:hover{
  
  cursor: pointer;
  background: #343151;
  }

  
  
  #Footer{
    height: 300px;
    text-align: center;
    background-color: #22242A;
    
  }
    
    .socialstitle{
    color: white;
    padding-top: 100px;
  }
    .rights{
    color: white;
    padding: 10px 10px;
    text-align: center; 
  }


.navbar--cat--text {
  margin-top: -50px;
  padding: 20px 20px;
  display: flex;
  justify-content: center;
  align-items: baseline;
}







/*      PHP FORM AREA       */
  .h2--form--php{
    color: white;
    display: flex;
      align-items: center;
      align-content: center;
  }
  
  .p--form--php{
   color: white;
   font-size: 30px;
   display: flex;
   align-items: center;
   align-content: center;
  }

  .containerPHP{
    text-align: center;
  
  height:40rem;
  background-color: rgba(34, 33, 33, 0.95);
  border-radius: 10px;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 10vh;
  width: 70%;
  padding: 10px 30px;
  box-shadow: 1px 1px 10px #222035;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;

  }



    .shadow--xl {
      box-shadow:  10px 10px #41414139;
    }