@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Quicksand:wght@600&display=swap');

* {

    box-sizing: border-box;

}

.sticky {
    position: fixed;
    top: 0;
    width: auto;
    z-index: 1;
}
.navbar {
    position: relative;
    background: transparent;
}

.navbar::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(34, 32, 53, 0.8);
    z-index: -1;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.navbar a {
    color: #fff;
}

.navbar a:hover {
    color: #F57F17;
}

main {
    background-color: #ff480068;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    max-width: 1600px;
}

body {
    background-color: #ff480068;
    font-family: 'Montserrat', sans-serif;
    word-wrap: break-word;
    width: 100%;
    height: 100%;
}
#menu {
    width: 100%;
}
.main--glass--effect {
    box-shadow: 0 0 50px rgba(34, 32, 53, 0.9);
}
h4{
    font-size: 3rem;
    margin: 100px 20px;
    color: white;
    background-color: rgb(17, 17, 17, 0.95);
    
}
h3{
    color: white;
    font-size: 3rem;
}
.h3--contrast{
    color: #222035ec;
    font-size: 3rem;
}


h6 {
    font-size: 1em;
    padding: 10px;
    color: white;
}
hr{
    color: white;
}
p{
    font-size: 2rem;
    padding: 10px;
    color: white;
}
.p--contrast{
    color:#222035ec;
    font-size: 2rem;
}

section{
    padding-top: 100px;
    padding-bottom: 100px;

}
.row{
    max-width: 100%;
        margin: auto;
}
.portView{
    max-width: 100%;
    position: relative;
}

.oddSec{
       background: #222035ec;
}
b{
    color: #F57F17;
}
#Footer {
    height: 300px;
    text-align: center;
    background-color: #22242A;

}

.socialstitle {
    color: white;
    padding-top: 100px;
}

.rights {
    color: white;
    padding: 10px 10px;
    text-align: center;
}