*{ 

    box-sizing: border-box; 
  
  }

  
  main{
    background: #ff480068;
    max-width: 1600px;
    margin: auto;
    font-size: 1.3rem;
    font-family: 'Montserrat', sans-serif;
    word-wrap: break-word;
  }
  .main--glass--effect {
      box-shadow: 0 0 50px rgba(34, 32, 53, 0.9);
    }
  body{
    background-color: #ff480068;
    word-wrap: break-word;
  }
  
  /*nav menu*/
    .sticky {
      position: fixed;
      top: 0;
      width: 100%;
    }



  /*form*/


.container{
    background: #222035ec;
    border-radius: 10px;
    margin-top: 7vh;
    max-width: 800px;
    padding: 10px 30px;
    box-shadow:1px 1px 10px #222035ec;
    color: white;
    display: flex;
    justify-content: center;
    
    
}
.main--glass--effect {
  box-shadow: 0 0 50px rgba(34, 32, 53, 0.9);
}

select, option, .InStyle, #sbmtBtn{
    width: 100%;
    border: 1px solid ;
    border-radius: 5px;
    background: #3a3a3a;
    color: white;
    padding: 10px 0;
    border: none;
    margin: 0.5em;
    transition: background 500ms ease;
}
#sbmtBtn:hover{
  
  cursor: pointer;
  background: #ff480068;
}


/* Footer*/ 

    #Footer{
        height: 300px;
        text-align: center;
        background-color: #22242A;
      
      }
      
      .socialstitle{
        color: white;
        padding-top: 100px;
      }
      .rights{
        color: white;
        padding: 10px 10px;
        text-align: center; 
      }
      