@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Quicksand:wght@600&display=swap');

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background: #ff480068;
   
}


.nav--arrow {
    position: fixed;
    top: 5px;
    left: 5px;
    height: 30px;
    width: 30px;
}

.sticky {
    position: fixed;
}

.menu__nav {
    display: none;
    transition: all 0.5s ease-in-out;
}

.navbar {
background: #222035;
width: 40px;
position: fixed;
overflow: hidden;
top: 0;
left: 0;
bottom: 0;
border-top-right-radius: 1.25rem;
border-bottom-right-radius: 1.25rem;
transition: ease-in-out 0.3s;
z-index: 1;
color: white;
overflow: scroll;
height: 40px;
}
.navbar::-webkit-scrollbar {
width: 0;
}

.navbar::-webkit-scrollbar-thumb {
    border-radius: 1.25rem;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #ffffff44;
}

.navbar::-webkit-scrollbar-thumb:hover {
    background-color: #ffffff44;
}

.menu--icon {
    display: flex;
    align-items: center;
    justify-content: baseline;
    color: #fff;
    text-decoration: none;
    margin: 25px;
    padding: 10px 0 10px;
}

.menu--icon a:visited,
.menu--icon:hover {
    background-color: #343151;
    color: #fff;
    transition: ease-in-out 0.2s;
    padding: 10px;
    border-radius: 20px;
}
.btn {
    border: none;
    cursor: pointer;
    outline: none;

}

.menu--nav--text {
    display: flex;
    justify-content: baseline;
    align-items: center;
    margin-left: 10px;
    padding-top: 16px;
}

main {
    background: #ff480068;
    margin: auto;
    font-size: 1rem;
    word-wrap: break-word;
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
}

@media only screen and (max-width: 930px) {
    main {
        margin-right: 0;
    }
}


.main--glass--effect {
    box-shadow: 0 0 50px rgba(34, 32, 53, 0.9);
}

.wrapper {
    margin: auto;
    max-width: 1600px;

}

#Footer {
    height: 300px;
    text-align: center;
    background-color: #22242A;
    margin-bottom: 0;
}

.socialstitle {
    color: white;
    padding-top: 100px;
}

.rights {
    color: white;
    padding: 10px 10px;
    text-align: center;
}
.navbar--cat {
    max-height: 7rem;
    position: relative;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;

}

.navbar--cat--text {
    margin-top: -50px;
    padding: 20px 20px;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.menu--icon--logout {
    position: relative;
    bottom: -100px;
}

.container--form {
    background-color: #222035ec;
    border-radius: 10px;
    margin: 70px auto 70px;
    max-width: 600px;
    padding: 30px 30px;
    box-shadow: 1px 1px 10px #222035ec;
    color: white;
    display: flex;
    justify-content: center;
    padding-bottom: 190px;
}

input,
textarea,
.sbmBtn {
    width: 100%;
    border-radius: 5px;
    background: #3a3a3a;
    color: white;
    padding: 10px 10px;
    border: none;
    margin-bottom: 20px;
    transition: background 500ms ease;
    box-shadow: 1px 1px 20px #222035a2;
}

.sbmBtn:hover{
    background: #343151;
}
.error--raccoon{
    max-height: 100%;
    overflow: hidden;
}

.checkout--text{
    padding: 30px 30px;
    font-weight: 600;
    margin-bottom: 20px;
}

.table--cart{
    
    width: 600px;
    max-width:100%;
    margin-left: auto;
    margin-right: auto;    
}

.table--cart th {
    font-size: 1.2rem;
    padding-bottom: 20px;
    background: #222035ec;
    color: #fff;
    padding: 5px;
    text-align: center;
}
.th--left{
    border-radius: 20px 0 0 0;
}
.th--right{
    border-radius: 0 20px 0 0;
}

.table--cart td {
    font-size: 1rem;
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #222035ba;
    color: #fff;
    text-align: center;
    

    
}

.cart--remove--button{
    
    color: #fff;
    border: none;
    background: none;

    cursor: pointer;
    margin-right: 10px;
    transition: background 500ms ease;
    float: right;
}

.input--field--number{
    padding: 0;
    max-width: 40px;
    margin: auto;
    text-align: center;
    float: left;
    border: none;
    border-radius: 10px;
    }
.container--cart{
    display: flex;
    justify-content: center;
    margin: auto;
    align-items: baseline;
    max-width: 200px;
    
}

.cart--empty{
    color: #fff;
    text-align: center;
    margin-top: 50px;
    font-size: 1.5rem;
}

.update--cart{
    background: #222035ec;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding:5px;
    cursor: pointer;
    transition: background 500ms ease;
}

.update--cart:hover{
    background: #343151;
}

.cart--total{
    float: right;
    padding-right: 5px;
}

.checkout--btn{
    background: #222035ec;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding:5px;
    cursor: pointer;
    transition: background 500ms ease;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 300px;
    box-shadow: none;
    
}

.shadow--xs {
    box-shadow: 0 5px #64646439;
}

