* {
    box-sizing: border-box;
}

body {
    background-color: #ff480068;
    font-family: 'Share Tech Mono', monospace;
    word-wrap: break-word;
    }

@font-face {
    font-family: "C77";
    src: url(./Font/Cyberpunk.otf);
}

@font-face {
    font-family: "Trauma";
    src: url(./Font/Trauma.otf);
}

/*nav menu*/
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

/*form*/
 
section{
    display: flex;
    justify-content: center;
    align-items: center;
   
}


.imgcontainer{
    margin-top: 200px;
    text-align: center;
     margin-bottom: 20px;
}

.avatar{
    max-width: 50%;
    
}



.container {
    background:#222035ec;
    border-radius: 10px;
    width: 100%;
    
    padding: 10px 30px;
    box-shadow: 1px 1px 10px #222035ec;
    color: white;
}
.main--glass--effect {
    box-shadow: 0 0 50px rgba(34, 32, 53, 0.9);
}



input,
textarea,
.sbmBtn{

    width: 100%;
    border: 1px solid;
    border-radius: 5px;
    background: #3a3a3a;
    color: white;
    padding: 10px 0;
    border: none;
    margin: 0.5em;
    margin-top: 20px;
    transition: background 500ms ease;
}
.sbmBtn:hover,
button:hover {

    cursor: pointer;
    background: #ff480068;
}


#Footer {
    margin-top: 26%;
    text-align: center;
    height: 300px;
    background-color: #22242A;
   
   
}

.socialstitle {
    color: white;
    padding-top: 100px;
}

.rights {
    color: white;
    padding: 10px 10px;
    text-align: center;
}

.registration{
text-decoration: none;
color: white;
}

.registration:hover{
    color: #ff4800f0 ;
}

h1{
    margin: 50px;
    font-size: 2em;
    color: white;
    padding: 15px 5px;
    text-align: center;
   
}


.container--userarea{
       background: #222035ec;
        border-radius: 10px;
        margin: auto;
        margin-top:100px;
        margin-bottom: 40px;
        max-width: 600px;
        color: white;

}
.logout{
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 15px 20px;
}
.logout:hover{
    color: #ff480068;
}

main{
    background: #ff480068;
    max-width: 1600px;
    margin: auto;
    height: 100%;
}


.admin--divider{
margin-top: 50px ;

}

.container--client{
    max-width: 600px;
}