*{ 

  box-sizing: border-box; 

}


main{
    background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.6)), url("./background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 1600px;
    margin: auto;
}

.main--glass--effect {
  box-shadow: 0 0 50px rgba(34, 32, 53, 0.9);
}
body{
 background-color: #ff480068;
 font-family:'Share Tech Mono', monospace;
 word-wrap: break-word;
}

@font-face {
  font-family: "C77";
  src: url(./Font/Cyberpunk.otf);
}
@font-face {
    font-family: "Trauma";
    src: url(./Font/Trauma.otf);
  }
/*nav menu*/
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/*form*/
#map{
  max-width: 800px;
}

.container {
  background-color:rgba(34, 33, 33, 0.95);
  border-radius: 10px;
  margin-top: 100px;
  max-width: 800px;
  padding: 10px 30px;
  box-shadow:1px 1px 20px #ff480068;
  color: white;
  display: flex;
  justify-content: center;
  
}

input, textarea, .sbmBtn, .googleMapsBtn{
  
  width: 100%;
  border: 1px solid ;
  border-radius: 5px;
  background: #3a3a3a;
  color: white;
  padding: 10px 0;
  border: none;
  padding: 10px;
  margin-top: 20px;
  transition: background 500ms ease;
  margin: auto;
}


button:hover{

cursor: pointer;
background: #ff4800;
}
#map{
  border-radius: 20px;
  margin: auto;
}


#Footer{
  height: 300px;
  text-align: center;
  background-color: #22242A;
  
}
  
  .socialstitle{
  color: white;
  padding-top: 100px;
}
  .rights{
  color: white;
  padding: 10px 10px;
  text-align: center; 
}
    