*{ 

  box-sizing: border-box; 

}


main{
  background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.6)), url("./background.jpg");

 background-repeat: no-repeat;
 margin: 20px 5px;
 width: auto;
}
body{
 background-color: #2D2D2D;
 font-family:'Share Tech Mono', monospace;
 word-wrap: break-word;
}

@font-face {
  font-family: "C77";
  src: url(./Font/Cyberpunk.otf);
}
@font-face {
    font-family: "Trauma";
    src: url(./Font/Trauma.otf);
  }
/*nav menu*/
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/*form*/
#map{
  width: 100%;
}

.container {
  background-color:rgba(34, 33, 33, 0.95);
  border-radius: 10px;
  margin-top: 7vh;
  width: 90%;
  padding: 10px 30px;
  box-shadow:1px 1px 10px #79F2BA;
  color: white;
  display: flex;
  justify-content: center;
  
}

input, textarea, .sbmBtn, .googleMapsBtn{
  
  width: 100%;
  border: 1px solid ;
  border-radius: 5px;
  background: #3a3a3a;
  color: white;
  padding: 10px 0;
  border: none;
  margin: 0.5em;
  margin-top: 20px;
  transition: background 500ms ease;
}


button:hover{

cursor: pointer;
background: #79f2babd;
}
#map{
  border-radius: 20px;
}


#Footer{
  height: 300px;
  text-align: center;
  background-color: #22242A;
  
}
  
  .socialstitle{
  color: white;
  padding-top: 100px;
}
  .rights{
  color: white;
  padding: 10px 10px;
  text-align: center; 
}
    