*{ 

  box-sizing: border-box; 
  
  
}

.sticky {
  position: fixed;
  top: 0;
  width: auto;
}

 main{
  background-color:rgb(17, 17,17, 0.95);
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
  width: 100%;
} 
body{

  background-color: #2D2D2D;
  font-family:'Share Tech Mono', monospace;
  word-wrap: break-word;
  
}

@font-face {
  font-family: "C77";
  src: url(../Font/Cyberpunk.otf);
}
@font-face {
    font-family: "Trauma";
    src: url(../Font/Trauma.otf);
  }



#menu{
  width: 100%;
}

/* #sideBar{
  color: #79f2ba81;
  margin-top: 55px;
  flex-direction: column
 
} */
.mainTitle{
  font-family: "Trauma";
  color:#79F2BA;
  -webkit-text-stroke: 1px black;
  font-size:2em;
  margin-top: 10vh;
  padding: 10px 10px;
  text-align: center;
}

/* #feedarea{
  position: fixed;
  width: auto;
  font-size: 21px;
  overflow-y: scroll;
  top: 5%;
  bottom: 0;
  
} */

.intro{
  color: white;
  margin: 7px 15px;
  text-align: center;
  font-size: 16px;
  padding: 10px 10px;
}
/*Banner Hero*/
.addInfo{
  color: white;
  font-size: 16px;
  margin-top: 100px;
  padding-top: 70px;
  padding-bottom: 70px;
  

}

#HERO{
  background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.2)), url("../Images/HERO_team.jpg");
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;

}
/*personnel section*/


/*Our Personnel*/
.squadTitle{
  padding-top: 100px;
  font-family: "Trauma";
  color:#79F2BA;
  text-align: center;
  font-size: 2em;

}

/* Gallery */
.teamShowcase{
  
text-align: center;
  
}
.teamShowcase img{
  transition: 1s;
  width:45%;
  padding: 15px;
  max-width: 500px;
  min-width: 250px;

}
.teamShowcase img:hover{
filter: grayscale(100%);
transform: scale(1.1);
}
/* Gallery */

a{
  text-decoration: none;

}

/*Ajax Div*/
#busModel{
  background-color: rgb(0, 0, 0, 0.5);;
  height: auto;
  padding: 50px;
  text-align: left;
  color: #ffffff;
  font-family: "Trauma";
}
/*Ajax Div */

#Footer{
  height: 300px;
  text-align: center;
  background-color: #22242A;

}

.socialstitle{
  color: white;
  padding-top: 100px;
}
.rights{
  color: white;
  padding: 10px 10px;
  text-align: center; 
}

#news-feed ul li {
  
  text-decoration: none;
  list-style-type:none ;
  color: white;
}
#news-feed {
  width: 100%;
  overflow: hidden;
  transition: transform 1s ease;
}

#news-feed.collapsed {
  height: 400px;
  transition: transform 3s ease;
}

#news-feed:not(.collapsed) {
  height: 100%;
transition: transform 3s ease;
}

.newsCaster{
  margin-bottom: 30px;
  max-width: 100%;
  
}
.h1--news{
  
    color: #79F2BA;
    -webkit-text-stroke: 1px black;
    font-size: 2em;
    padding: 10px 10px;
    text-align: center;
    cursor: pointer;
    font-family: 'Share Tech Mono', monospace;

}

.p--news{
  color: #79F2BA;
  text-align: center;
  padding-bottom: 90px;
  cursor: pointer;
  font-family: 'Share Tech Mono', monospace;
  
}
section{
  margin: 100px 0 ;
}

.ul--news{
  padding: 0;
}