*{ 

  box-sizing: border-box; 
  
  
}

.sticky {
  position: fixed;
  top: 0;
  width: auto;
}
main {
  background:#222035ec;
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
  max-width: 1700px;
  padding: 20px;
  font-size: 1.5rem;
  word-wrap: break-word;
}
.main--glass--effect {
  box-shadow: 0 0 50px rgba(34, 32, 53, 0.9);
}

body {
  background: #ff480068;
  font-family: 'Share Tech Mono', monospace;
  
/* White: #FFFFFF Off-white: #F8F8F8 Light gray: #D3D3D3 Pale pink: #FFC0CB Pale orange: #FFA07A */
}

@font-face {
  font-family: "C77";
  src: url(../Font/Cyberpunk.otf);
}
@font-face {
    font-family: "Trauma";
    src: url(../Font/Trauma.otf);
  }



#menu{
  width: 100%;
}


.mainTitle{
  font-family: "Trauma";
  color: #F57F17;
  font-size:2rem;
  margin-top: 100px;
  padding: 10px 10px;
  text-align: center;
}



.intro{
  color: white;
  margin: 7px 15px;
  text-align: center;
  font-size: 1rem;
  padding: 10px 10px;
}

/*Banner Hero*/
.addInfo{
  color: white;
  font-size: 1rem;
  margin-top: 100px;
  padding-top: 70px;
  padding-bottom: 70px;
  

}

#HERO{
  background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.6)), url("../1.MainPage/background.jpg");
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;

}
/*personnel section*/


/*Our Personnel*/
.squadTitle{
  padding-top: 100px;
  font-family: "Trauma";
  color:#F57F17;;
  text-align: center;
  font-size: 2em;

}

/* Gallery */
.teamShowcase{
  
text-align: center;
  
}
.teamShowcase img{
  transition: 1s;
  width:45%;
  padding: 15px;
  max-width: 500px;
  min-width: 250px;

}
.teamShowcase img:hover{
filter: grayscale(100%);
transform: scale(1.1);
}
/* Gallery */

a{
  text-decoration: none;

}

/*Ajax Div*/
#busModel{
  background-color: rgb(0, 0, 0, 0.5);;
  height: auto;
  padding: 50px;
  text-align: left;
  color: #ffffff;
  font-family: "Trauma";
}
/*Ajax Div */

#Footer{
  height: 300px;
  text-align: center;
  background-color: #22242A;

}

.socialstitle{
  color: white;
  padding-top: 100px;
}
.rights{
  color: white;
  padding: 10px 10px;
  text-align: center; 
}


#news-feed ul li {
  
  text-decoration: none;
  list-style-type:none ;
  color: white;
}
#news-feed {
  width: 100%;
  overflow: hidden;
  transition: transform 3s ease;
}

#news-feed.collapsed {
  height: 240px;
  transition: transform 3s ease;
}

#news-feed:not(.collapsed) {
  height: 100%;
transition: transform 3s ease;
}

.newsCaster{
  margin-bottom: 30px;
  max-width: 100%;
  
}
.h1--news{
  
    color: #F57F17;
    font-size: 2em;
    padding: 10px 10px;
    text-align: center;
    cursor: pointer;
    font-family: 'Share Tech Mono', monospace;

}

section{
  margin: 100px 0 ;
}

.ul--news{
  padding: 0;
}