@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Quicksand:wght@600&display=swap');

* {

    box-sizing: border-box;

}
body {
    padding: 0;
    margin: 0;
    background: #ff480068;
}

.nav--arrow {
    position: fixed;
    top: 5px;
    left: 5px;
    height: 30px;
    width: 30px;
}

.sticky {
    position: fixed;
}

.menu__nav {
    display: none;
    transition: all 0.5s ease-in-out;
}

.navbar {
    background: #222035;
    width: 40px;
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    bottom: 0;
    border-top-right-radius: 1.25rem;
    border-bottom-right-radius: 1.25rem;
    transition: ease-in-out 0.3s;
    z-index: 1;
    color: white;
}

.menu--icon {
    display: flex;
    align-items: center;
    justify-content: baseline;
    color: #fff;
    text-decoration: none;
    margin: 25px;
    padding: 10px 0 10px;
}

.menu--icon a:visited,
.menu--icon:hover {
    background-color: #343151;
    color: #fff;
    transition: ease-in-out 0.2s;
    padding: 10px;
    border-radius: 20px;
}

.btn {
    border: none;
    cursor: pointer;
    outline: none;

}

.menu--nav--text {
    display: flex;
    justify-content: baseline;
    align-items: center;
    margin-left: 10px;
    padding-top: 16px;
}
main {
    background-color: #ff480068;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    word-wrap: break-word;
    min-height: 100vh;
}
@media only screen and (max-width: 930px) {
    main {
        margin-right: 0;
    }
}

.wrapper {
    margin: auto;
    max-width: 1600px;
}



.filters {
    text-align: left;
}
.filters button{
    font-size: 1rem;
    border: none;
    border-radius: 30px;
    padding: 10px 10px;
    margin: 10px;
}
.filters button:hover{
        background: rgba(34, 32, 53, 0.8);
        border-radius: 30px;
        color: #fff;
        border: none;
        transition: 0.5s;
        box-shadow: 0 0 10px rgba(68, 67, 76, 0.9);
}


section{
    padding: 10px 10px;
    margin:auto;
}

.section--h3{
    margin-top: 100px;
    font-size: min(max(2rem, 4vw), 4rem);    
    text-align: left;
    font-weight:200px;
}



.main--glass--effect {
    box-shadow: 0 0 50px rgba(34, 32, 53, 0.9);
}
.shadow--sm {
    box-shadow: 10px 10px #0b0b0b60;
}
.shadow--xs {
    box-shadow: 0 5px #64646439;
}

.products--title h5{
    text-align: left;
    color: #fff;
    font-size: 2rem;
    font-weight: 300;
    padding: 10px 10px;
    margin: 30px ;
}
.underline h5{
    border-bottom: 2px solid rgba(0, 0, 0, 0.125);
}
.card {
    background: rgba(34, 32, 53, 0.4);
    border-radius: 30px;
    margin: 10px auto;
    color: #fff;
    border: none;
    padding: 0;
    min-width: 200px;
    
    
}

.card:hover{
    background: rgba(34, 32, 53, 0.8);
    border-radius: 30px;
    color: #fff;
    border: none;
    transition: ease-in-out 0.5s;
    box-shadow: 0 0 20px rgba(68, 67, 76, 0.9);
}
.card--image{
        object-fit: contain;
        width: 100%;
        height: 100%;
        padding: 10px 10px;
}

.card--text{
   padding: 10px;
    text-align: left;
    font-size: 1rem;
    color: white;
    margin-bottom: 1px;
    color: black;
}
.card--title{
    padding: 10px;
    font-size: 1rem;
    color: white;
}
.card--buy--info{
    background-color:#f5f5f5f5;
    border-radius: 0 0 30px  30px;
    width: 100%;
    padding: 10px 10px;
}

.button--icon{
    border: none;
    background: none;
    margin-left: 100%;
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: none;    
    animation: hideButton 1s ease-in-out;
    animation: showButton 0.5s ease-in-out;
}
.card--footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
}
.button--icon--arrow{
    max-height: 3rem;
    z-index: 1;
}

/* smooth effect for the button to show & disappear when scrolling */
@keyframes showButton {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes hideButton {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(20px);
    }
}

.card--cart.fa-cart-shopping{
    float: right;
    color: black;
    cursor: pointer;
}



#Footer {
    height: 300px;
    text-align: center;
    background-color: #22242A;

}

.socialstitle {
    color: white;
    padding-top: 100px;
}

.rights {
    color: white;
    padding: 10px 10px;
    text-align: center;
}

.menu--icon--logout {
    position: relative;
    bottom: -100px;
}

.navbar--cat {
    max-height: 7rem;
    position: relative;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;

}

.navbar--cat--text {
    margin-top: -50px;
    padding: 20px 20px;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.filters--search--bar{
    background: url(./images/search.svg) no-repeat scroll 7px 7px;
    background-size: 25px;
    background-position-y: 8px;
    background-color:#fff;
    text-align: left;
    text-indent: 30px;
    padding: 7px;
    border-radius: 20px;
    border: none;
    outline: none;
    float: right;
    margin-top: 10px;
}

.products--area{
    margin-top: 100px;
    
}

.products--area--divisions{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px 10px;
    margin-top: 50px;
}