@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Quicksand:wght@600&display=swap');

*{ 

  box-sizing: border-box; 
 

}
body {
  background-color: #ff480068;
  padding: 0;
  margin: 0;
}

.nav--arrow {
  position: fixed;
  top: 5px;
  left: 5px;
  height: 30px;
  width: 30px;
}
.menu__nav {
  display: none;
  transition: all 0.5s ease-in-out;
}
.sticky {
  position: fixed;
}

.navbar {
  background: #222035;
  width: 40px;
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  bottom: 0;
  border-top-right-radius: 1.25rem;
  border-bottom-right-radius: 1.25rem;
  transition: ease-in-out 0.3s;
  z-index: 1;
  color: white;
}

.menu--icon {
  display: flex;
  align-items: center;
  justify-content: baseline;
  color: #fff;
  text-decoration: none;
  margin: 25px;
  padding: 10px 0 10px;
}

.menu--icon a:visited,
.menu--icon:hover {
  background-color: #343151;
  color: #fff;
  padding: 5px;
  border-radius: 20px;
}

.btn {
  border: none;
  cursor: pointer;
  outline: none;

}

.menu--nav--text {
  display: flex;
  justify-content: baseline;
  align-items: center;
  margin-left: 10px;
  padding-top: 16px;
}

main{
  background: #ff480068;
  margin: auto;
  font-size: 1rem;
  word-wrap: break-word;
  font-family: 'Montserrat', sans-serif;

}
@media only screen and (max-width: 930px) {
  main {
    margin-right: 0;
  }
}

.wrapper {
  margin: auto;
  max-width: 1600px;

  
}
.main--glass--effect {
  box-shadow: 0 0 50px rgba(34, 32, 53, 0.9);
}


.container--form {
  background-color:#222035ec;
  border-radius: 10px;
  margin:70px auto 70px;
  max-width: 800px;
  padding: 30px 30px;
  box-shadow:1px 1px 20px #222035ec;
  color: white;
  display: flex;
  justify-content: center;
  padding-bottom:190px ;

  
}

input, textarea, .sbmBtn, .googleMapsBtn{
  
  width: 100%;
  border-radius: 5px;
  background: #3a3a3a;
  color: white;
  margin-top: 10px;
  padding: 10px 10px;
  border: none;

  margin-top: 20px;
  transition: background 500ms ease;

  box-shadow: 1px 1px 20px #222035a2;
}


button:hover{

cursor: pointer;
background: #343151;
}


#Footer{
  height: 300px;
  text-align: center;
  background-color: #22242A;
  margin-bottom: -500px;
}
  
  .socialstitle{
  color: white;
  padding-top: 100px;
}
  .rights{
  color: white;
  padding: 10px 10px;
  text-align: center; 
}
    

.navbar--cat {
  max-height: 7rem;
  position: relative;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;

}

.navbar--cat--text {
  margin-top: -50px;
  padding: 20px 20px;
  display: flex;
  justify-content: center;
  align-items: baseline;
}
.menu--icon--logout {
  position: relative;
  bottom: -100px;
}