@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Quicksand:wght@600&display=swap');
*{ 
  box-sizing: border-box; 
}
body{
  padding: 0;
  margin: 0;
        
}

.nav--arrow{
    position: fixed;
    top: 5px;
    left: 5px;
    height: 30px;
    width: 30px;
}

.sticky{
  position: fixed;
}

.navbar {
    background: #222035;
    width: 40px;
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    bottom: 0;
    border-top-right-radius: 1.25rem;
    border-bottom-right-radius: 1.25rem;
    transition: ease-in-out 0.3s;
    z-index: 1;
    color: white;
}

.menu--icon {
      display: flex;
      align-items: baseline;
      color: #fff;
      text-decoration: none;
      margin: 25px;
}
.menu--nav--text{
    font-size: 1.1rem;
    display: block;
    text-align: center;
    margin-left: 10px;
}

main {
  background:#ff480068;
  margin: auto;
  max-width: 1600px;
  font-size: 1rem;
  word-wrap: break-word;
  font-family: 'Montserrat', sans-serif;  
}
.main--glass--effect {
  box-shadow: 0 0 50px rgba(34, 32, 53, 0.9);
}

body {
  background: #ff480068;
}
.section--color{
  background: #222035ec;

}


.main--title{
  font-family: 'Quicksand', sans-serif;  color: #F57F17;
  font-size:2rem;
  margin-top: 100px;
  text-align: left;
  padding: 20px 20px;
}
.products--title{
  font-size: 5rem;
  text-align: center;
}


.intro{
  color: white;
  padding: 20px 20px;
  text-align: left;
  font-size: 1rem;

}
        /*center this image  */
.intro--image{
  margin: 0 auto;
  max-width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;

}

/*Banner Hero*/
.addInfo{
  color: white;
  font-size: 1.2rem;
  margin-top: 100px;
  padding-top: 70px;
  padding-bottom: 70px;
  

}

#HERO{
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url("../MainPage/images/background.webp");
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px 20px;

}

a{
  text-decoration: none;

}


#Footer{
  height: 300px;
  text-align: center;
  background-color: #22242A;
  margin-bottom: 0;
}

.socialstitle{
  color: white;
  padding-top: 100px;
}
.rights{
  color: white;
  padding: 10px 10px;
  text-align: center; 
}

.shadow--sm{
    box-shadow: 0 10px #64646439;
}
.card{
  padding: 20px 20px;
  margin: 30px;
  background:#f29f55;
  border-radius: 30px;
}

.card--title{
  text-align: center;

}
.card--body{
  max-width: 200px;
  margin: 0 auto;
}
.card--image{
  max-width:  200px;
  max-height: 200px;
  padding: 50px;


 
}

/* #news-feed ul li {
  
  text-decoration: none;
  list-style-type:none ;
  color: white;
}
#news-feed {
  width: 100%;
  overflow: hidden;
  transition: transform 3s ease;
}

#news-feed.collapsed {
  height: 240px;
  transition: transform 3s ease;
}

#news-feed:not(.collapsed) {
  height: 100%;
transition: transform 3s ease;
}

.newsCaster{
  margin-bottom: 30px;
  max-width: 100%;
  
}
.h1--news{
  
    color: #F57F17;
    font-size: 2em;
    padding: 10px 10px;
    text-align: center;
    cursor: pointer;
    font-family: 'Share Tech Mono', monospace;

}

section{
  margin: 100px 0;
}

.ul--news{
  padding: 0;
} */